<div tabindex="0" role="button" class="flex flex-row-reverse items-center gap-6">
  <div class="btn btn-ghost btn-circle avatar ring hover:ring-primary">
    <div class="w-10 rounded-full">
      {{if .avatar}}
      <img alt="Profile picture" src="{{.avatar}}" />
      {{else}}
      <span class="text-xl  text-neutral-content">??</span>
      {{end}}
    </div>
  </div>
  <div class="grid">
    <a href="/app/profile" class="hover:link hover:bg-base-200">
      Welcome, <span class="font-bold">
        {{.name}}
      </span>
    </a>
    <form class="flex justify-end" action="/auth/logout" method="post">
      <button name="logout" class=" btn-xs btn-ghost">Logout</button>
    </form>
  </div>
</div>
