<div class="hero max-w-200">
  <div class="hero-content">
    <form method="post" action="/auth/login" hx-boost="true">
      <div>
        <label class="input input-bordered flex items-center gap-2">
          <input name="username" type="text" class="grow" placeholder="Username" />
        </label>
      </div>
      <div>
        <label class="input input-bordered flex items-center gap-2">
          <input name="password" type="password" class="grow" value="password" />
        </label>
      </div>
      <button class="button">Submit</button>
    </form>
  </div>
</div>
