<!DOCTYPE html>
<html data-theme="coffee">

<head>
  <title>{{block "title" . }}Super Awesome App{{end}}</title>
  <link href="/styles.css" rel="stylesheet" />
  <script src="https://unpkg.com/htmx.org"></script>
  {{if .needs_pocketbase}}
  <script src="/js/pocketbase.umd.js"></script>
  <script type="text/javascript">
    const pb = new PocketBase("http://localhost:9999");
  </script>
  {{end}}
</head>

<body>
  <header id="header" hx-get="/components/header" hx-trigger="load" class="w-full" hx-swap="outerHTML">
    This is a stub, will be replaced by htmx when it's done loading the header.
  </header>
  <main id="body" class="flex mt-16">
    {{block "body" .}}
    <p>This body is empty</p>
    {{end}}
  </main>
</body>

</html>
