<!DOCTYPE html>
<html data-theme="cupcake">

<head>
  <title>{{block "title" . }}Super Awesome App{{end}}</title>
  <link href="/styles.css" rel="stylesheet" />
  <script src="https://unpkg.com/htmx.org"></script>
</head>

<body>
  <header id="header" hx-get="/components/header" hx-trigger="load" class="w-full" hx-swap="outerHTML">
    This is a stub, will be replaced by htmx when it's done loading the header.
  </header>
  <section id="body" class="flex">
    {{block "body" .}}
    <p>This body is empty</p>
    {{end}}
  </section>
</body>

</html>
