<!DOCTYPE html>
<html>

<head>
  <title>{{block "title" . }}Super Awesome App{{end}}</title>
  <link href="/css/pico.min.css" rel="stylesheet" />
  <link href="/css/styles.css" rel="stylesheet" />
  <script src="/js/htmx.min.js"></script>
  {{if .needs_pocketbase}}
  <script src="/js/pocketbase.umd.js"></script>
  <script type="text/javascript">
    const pb = new PocketBase("http://localhost:9999");
  </script>
  {{end}}
</head>

<body>
  <header class="container">
    <nav>
      <ul>
        <li>
          <h3 hx-get="/" hx-target="body"><strong>Fantasticapp</strong></h3>
        </li>
        <li />
        <li />
        <li><a href="#">Pricing</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Wall of Love</a></li>
      </ul>
      <div hx-get="/header/loginstate" hx-swap="outerHTML" hx-trigger="load" />
    </nav>
  </header>
  <main id="body" class="container-fluid">
    {{block "body" .}}
    <p>This body is empty</p>
    {{end}}
  </main>
  <footer id="footer" class="container-fluid">
    This is the footer
  </footer>
</body>

</html>
