{{define "title"}}
Landing Page
{{end}}

{{define "body"}}
<section class="hero">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Hello there</h1>
      <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi.
        In deleniti eaque aut repudiandae et a id nisi.</p>
      <button class="btn btn-primary">Get Started</button>
      <p class="py-6">
        orem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dictum lorem eget ex facilisis, tincidunt
        tempor metus tempor. Maecenas ac dolor magna. Nullam dignissim, risus non porta ornare, nibh tortor suscipit
        ipsum, non rhoncus tellus enim venenatis neque. Praesent dapibus dapibus egestas. Pellentesque lacinia cursus
        malesuada. Vestibulum in varius enim. Integer mauris sem, fringilla id nisi eu, hendrerit imperdiet elit. Nulla
        dictum ac sapien nec lobortis. Integer euismod tortor lectus, vitae volutpat eros condimentum sit amet. Ut
        suscipit sodales massa, ut viverra quam mollis in. Proin eget convallis lorem. Ut sed sollicitudin nisl. Duis at
        leo erat. Proin non mauris placerat, posuere arcu sed, eleifend est. Proin quis feugiat sem. Fusce nunc tellus,
        semper eget tempus ut, vulputate at nibh.

        Integer ut dapibus mauris, molestie vulputate est. In a posuere mi. Vestibulum tristique odio ut posuere
        imperdiet. Quisque mattis libero ante, ac tempor odio tincidunt a. Sed nec turpis massa. Proin efficitur
        fringilla semper. Aliquam interdum diam sit amet magna pretium tristique. Pellentesque quis turpis eros. Ut
        varius malesuada velit. Nam suscipit id purus ultricies imperdiet. Phasellus faucibus commodo urna. Aliquam erat
        volutpat. Proin turpis arcu, faucibus in dapibus eu, posuere a ex.

        Curabitur eget leo quis risus accumsan viverra. Ut quis ipsum et mauris bibendum viverra. Etiam sit amet diam
        dignissim, sollicitudin nibh id, viverra sapien. Donec ultrices porta pellentesque. Mauris pellentesque commodo
        lacinia. Aliquam euismod erat ut faucibus consectetur. Cras et lectus sed nunc ullamcorper malesuada. Donec
        mauris purus, luctus eu blandit pellentesque, imperdiet ut tortor. Cras laoreet porttitor metus vulputate
        viverra. Donec aliquet nisl a nisi posuere, id porta tellus venenatis. Ut quis eleifend orci. Duis sodales ex
        quis euismod ultrices. Proin in urna sagittis, aliquet nunc id, tristique tellus. Praesent posuere quis nunc
        quis dictum. Curabitur quis massa non urna luctus viverra. Curabitur scelerisque lacus vitae dolor sagittis
        dictum.

        Etiam sollicitudin, lacus eget eleifend feugiat, lacus magna semper est, non euismod diam massa et erat. Proin
        ultricies suscipit nisi. Vivamus facilisis molestie odio, quis luctus nisl luctus viverra. Vestibulum in finibus
        arcu. Aliquam luctus imperdiet tortor. Praesent vehicula urna vitae enim vulputate, vel tempus velit blandit.
        Phasellus congue vitae eros a dignissim. Fusce ut lacinia neque, nec varius lacus. Integer ac consectetur nibh.
        Ut ac ante mauris. Donec mollis, quam ut rhoncus egestas, turpis diam interdum quam, et tempor quam nulla at
        diam. Fusce risus mi, varius rutrum sapien vitae, egestas posuere lorem. Suspendisse lectus risus, auctor a
        gravida at, vulputate sed diam. Morbi non erat quis leo maximus porttitor sit amet pharetra nunc.

        Praesent tincidunt massa eget fringilla hendrerit. Fusce ultricies lectus quis ligula placerat, ut ornare orci
        tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam
        orci enim, lacinia pretium porta egestas, posuere sit amet neque. Nam feugiat aliquam faucibus. Donec quis
        vehicula est. Nulla facilisi.

        Quisque semper, felis at efficitur pellentesque, massa ex dignissim est, sed maximus augue libero in erat. Nulla
        cursus eu sapien id dapibus. Vestibulum gravida commodo elit, vel commodo mi rutrum bibendum. Vestibulum aliquet
        neque in purus mollis, eu finibus dolor maximus. Integer at neque nec odio semper facilisis sed non augue. In
        odio urna, porttitor et lorem vitae, varius vestibulum risus. Integer porta nunc vitae nulla lobortis, eget
        consequat odio gravida. Donec sit amet ultrices est. Mauris consectetur, sapien vitae eleifend malesuada, enim
        lacus suscipit ex, sit amet laoreet justo justo quis magna.

        Suspendisse posuere ut est nec iaculis. Nam scelerisque mi tellus, id efficitur tortor feugiat ut. Duis pretium
        efficitur sem eget dictum. Etiam congue libero libero, et gravida dolor elementum in. Vestibulum lectus velit,
        suscipit sit amet ante vel, mattis pharetra felis. Morbi semper arcu ligula, quis feugiat tortor gravida a.
        Aliquam id purus a lorem gravida porta. Nulla dolor mi, semper eu lacus vel, hendrerit facilisis nulla. Sed
        tempor mi quis velit bibendum dignissim. Donec quis odio id sapien commodo fringilla eu at sem. Nulla at
        volutpat ligula. Sed sit amet purus a lacus pulvinar maximus. Integer ipsum enim, hendrerit ut lobortis
        bibendum, dignissim nec purus. Maecenas ut aliquet sem. Praesent odio mi, facilisis et justo eget, luctus
        vestibulum diam.

        Phasellus non lacus vehicula, posuere nisi sit amet, ornare nunc. Vivamus pharetra dui id felis maximus, non
        pretium dolor dignissim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Pellentesque eget nisl egestas, tempor massa sed, fermentum ligula. Vivamus dapibus erat sed erat eleifend
        posuere. Duis arcu massa, tincidunt vitae tristique quis, eleifend at ipsum. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Donec egestas ipsum at orci faucibus, at condimentum augue accumsan. Aliquam id
        sapien a arcu hendrerit feugiat. Nam in mauris ante. Nulla volutpat dolor eu arcu placerat egestas. Nulla
        facilisi. Vivamus est eros, faucibus ut purus at, laoreet condimentum ante. Nulla dui nulla, pellentesque et
        sodales eu, fermentum ut nunc.

        Aliquam scelerisque eros augue, mattis volutpat felis porttitor et. Nulla fringilla, libero fringilla laoreet
        molestie, mauris odio pharetra leo, eu sagittis augue odio id nisl. Suspendisse ut augue est. Maecenas nec
        ullamcorper urna. Phasellus posuere, libero eleifend rhoncus molestie, lacus ipsum tempus justo, in sagittis
        sapien mauris placerat augue. Morbi molestie nisl vitae nunc sagittis iaculis. Phasellus at risus iaculis urna
        lobortis aliquam sed semper odio. Maecenas non vulputate odio.

        Morbi bibendum lacinia erat nec aliquet. Suspendisse ut ullamcorper ex. Vestibulum a felis porttitor, sodales
        magna quis, semper ante. Phasellus et dolor a ipsum porttitor cursus non elementum nulla. Aliquam iaculis urna
        et dignissim imperdiet. Donec suscipit metus dignissim mauris porttitor, at rutrum risus fermentum. Etiam nisi
        enim, ullamcorper vitae pharetra eu, vestibulum et purus. Aenean porta pulvinar turpis, non posuere erat
        interdum quis. Ut feugiat lorem eu tristique dictum. Vivamus massa tellus, aliquet vitae mi eget, aliquet
        imperdiet nunc. Pellentesque id leo porttitor, mattis odio quis, gravida eros. Nam vestibulum ultrices arcu non
        consequat. Nam sed dui id elit molestie molestie nec vel metus. Aliquam eu venenatis lacus.

        Praesent ac pulvinar dui, nec condimentum mauris. Suspendisse egestas aliquam dolor. Vivamus enim quam
      </p>
    </div>
  </div>
</section>
{{end}}
