<form hx-post="/registration/register" hx-boost="true" hx-swap="innerHTML">
  <fieldset>
    <div hx-get="/registration/username" hx-trigger="load">
    </div>
    <div hx-get="/registration/email" hx-trigger="load">
    </div>
    <label class="input input-bordered flex items-center gap-2">
      Name
      <input name="name" type="text" class="grow" placeholder="Name" />
    </label>
    <div hx-get="/registration/password" hx-trigger="load">
    </div>
  </fieldset>
  <input type="submit" value="Create account" />
</form>
