<div hx-target="this" hx-swap="outerHTML">
  <label>
    Password
    <input name="password" type="password" placeholder="Password" {{ if .error}} aria-invalid="true"
      aria-describedby="password-invalid-helper" {{ end }} value="{{.password}}" />
    {{ if .error}}
    <small id="password-invalid-helper">
      {{.error}}
    </small>
    {{end}}
  </label>
  <label class="input input-bordered flex items-center gap-2">
    Repeat Password
    <input name="repeat-password" type="password" hx-post="/registration/validate-password"
      placeholder="Repeat Password" {{ if .error}} aria-invalid="true" aria-describedby="repeat-password-invalid-helper"
      {{ end }} value="{{.repeat_password}}" />
    {{ if .error}}
    <small id="repeat-password-invalid-helper">
      {{.error}}
    </small>
    {{end}}
  </label>
</div>
