<script type="text/javascript">
  async function loginWithProvider() {
    const authData = await pb.collection('users').authWithOAuth2({provider: '{{.Name}}'});
    const meta = authData.meta;

    if (meta.isNew) {
      const formData = new FormData();

      const response = await fetch(meta.avatarUrl);

      if (response.ok) {
        const file = await response.blob();
        formData.append('avatar', file);
      }

      formData.append('name', meta.name);

      await pb.collection('users').update(authData.record.id, formData);
    }
    pb.authStore.clear()
    location.reload()
  }
</script>
<div style="position: relative;">
  <img src="{{.LogoRoute}}" alt="Log in with {{.DisplayName}}" style="position: absolute; top:0.6em; left: 1em;" />
  <input type="submit" value="Log in with {{.DisplayName}}" hx-on:click="loginWithProvider()"
    style="padding-left: 1em;">
  </input>
</div>
